@use "./variable.module.scss" as *;
@use "./mixins" as *;

[data-theme="dark"] {
  @import "./variable-dark.module.scss";

  .container {
    background-color: $background;
    color: #f1f1f1;
  }

  .leftPanel,
  .rightPanel {
    background: #1b1c2a;

    input {
      background-color: #2b2d42;
      color: #f1f1f1;

      &:focus {
        border-color: $primaryColor;
        box-shadow: 0 0 5px rgba(123, 255, 255, 0.5);
      }
    }

    button {
      background-color: #2b2d42;
      color: #f1f1f1;

      &:hover {
        background-color: $primaryColor;
        color: white;
      }
    }
  }

  .preResponse {
    color: #f1f1f1;
  }

  .AiResponse {
    background-color: #1b1c2a;
    color: #f1f1f1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 98vh;
  background-color: $background;
  color: #ffffff;

  @include tablet {
    height: auto;
  }
}

.main {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 1rem;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.leftPanel,
.rightPanel {
  width: 20%;
  background: #24253f;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    width: 100%;
    padding: 13px;
    font-size: 15px;
    border: none;
    background-color: #f1f1f1;
    border-radius: 7px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;

    &:focus {
      border-color: $primaryColor;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      outline: none;
    }
  }

  button {
    width: 100%;
    padding: 13px;
    font-size: 15px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $primaryColor;
      color: white;
    }
  }

  .preResponse {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
  }
  .AiResponse {
    overflow: auto;
    height: 60vh;
  }
  .logo {
    width: 250px;
  }

  @include tablet {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.centerPanel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablet {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.spinner {
  border: 4px solid #7fabde;
  border-left: 4px solid #323270;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
