@use "./variable.module.scss" as *;
@use "./mixins" as *;

[data-theme="dark"] {
  @import "./variable-dark.module.scss";

  .header {
    background: $background;
    color: $textColor;

    .nav {
      button {
        color: white;
      }
    }

    .deconexion {
      button {
        color: white;
      }
    }

  }
}

.header {
  padding: 0.5rem 2rem;
  background-color: $background;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 55px;
  }

  .nav {
    display: flex;
    gap: 1.5rem;

    button {
      background: none;
      color: $textColor;
      border: 1px solid #555;
      padding: 0.5rem 1.5rem;
      border-radius: 30px;
      text-align: center;
      border: none;
      width: 100px;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 
    
      &:hover {
        background-color: $primaryColor;
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
      }
    }
    
  }

  .deconexion {
    button {
      background: none;
      color: $textColor;
      border: 1px solid #555;
      padding: 0.5rem 1.5rem;
      border-radius: 30px;
      border: none;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); 
      &:hover{
        background-color: $primaryColor;
        color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
      }
    }
  }

  @include tablet {
    flex-direction: column;
    .nav {
      margin-top: 1rem;
      button {
        margin-bottom: 0.5rem;
      }
    }
  }
}
